
.table-card {
    border-collapse: initial;
    border-right:solid 1px #dcd9d9;
    border-left:solid 1px #dcd9d9;
    border-top:solid 1px #dcd9d9;
    border-bottom:solid 5px #dcd9d9;
    border-radius:5px;
}

.table-information {
    tr {
        border-bottom: 1px solid #CACACA;
    }
    td {
        padding-top: 24px;
    }
}