<row>
    <column>
        <p><small>This message contains confidential information and is intended only for the individual named. If you are not the named addressee you should not disseminate, distribute or copy this email. Please notify the sender immediately by email if you have received this email by mistake and delete this email from your system. Email transmission cannot be guaranteed to be secure or error-free as information could be intercepted, corrupted, lost, destroyed, arrive late or incomplete, or contain viruses. The sender therefore does not accept liability for any error or omissions in the contents of this message, which arise as a result of email transmission. If verification is required please request a hard-copy version.</small></p>

        <p><small>Go Green: Please do not print this email unless you really need to.</small></p>
    </column>
</row>